* {
	box-sizing: border-box;
}

:host {
	color-scheme: light dark;
	--card: 0 1px 4px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	--main-clr: blueviolet;
	--border: 1px solid #ccc;
}

:host([popover]) {
	border: none;
	margin: 0;
	color: inherit;
	box-shadow: var(--card);
	background-color: light-dark(white, hsl(0, 0%, 25%));
	inset: unset;
	overflow: visible;
}

:host {
	padding-left: 0;
	margin-block: 0;
	width: 40ch;
	border-radius: 0.4em;
	transform-origin: bottom;
	scale: 1 0;
	transition: scale 200ms ease-out;
}

:host::before {
	content: "";
	display: flex;
	width: 25px;
	height: 15px;
	position: absolute;
	z-index: 11;
	bottom: -14px;
	inset-inline: 0;
	margin-inline: auto;
	background-color: inherit;
	clip-path: polygon(50% 100%, 100% 0, 0 0);
}

:host(:popover-open) {
	@starting-style {
		scale: 1 0;
	}

	scale: 1 1;
}

li {
	list-style-type: none;
	padding: 0.2em 0.5em;
	margin-bottom: 0.2em;
	cursor: pointer;
}

svg {
	fill: light-dark(hsl(0, 0%, 5%), white);
	height: 20px;
	width: 20px;
	vertical-align: middle;
	cursor: pointer;

	&.auto-fix path {
		d: path(
			"M7.5,5.6L5,7L6.4,4.5L5,2L7.5,3.4L10,2L8.6,4.5L10,7L7.5,5.6M19.5,15.4L22,14L20.6,16.5L22,19L19.5,17.6L17,19L18.4,16.5L17,14L19.5,15.4M22,2L20.6,4.5L22,7L19.5,5.6L17,7L18.4,4.5L17,2L19.5,3.4L22,2M13.34,12.78L15.78,10.34L13.66,8.22L11.22,10.66L13.34,12.78M14.37,7.29L16.71,9.63C17.1,10 17.1,10.65 16.71,11.04L5.04,22.71C4.65,23.1 4,23.1 3.63,22.71L1.29,20.37C0.9,20 0.9,19.35 1.29,18.96L12.96,7.29C13.35,6.9 14,6.9 14.37,7.29Z"
		);
	}

	&.collapse path {
		d: path(
			"M4 14v-2h16v2zm0-3V9h16v2zm7 11v-3.2l-1.6 1.6L8 19l4-4l4 4l-1.4 1.4l-1.6-1.55V22zm1-14L8 4l1.4-1.4L11 4.2V1h2v3.2l1.6-1.6L16 4z"
		);
	}

	&.done path {
		d: path(
			"M0.41,13.41L6,19L7.41,17.58L1.83,12M22.24,5.58L11.66,16.17L7.5,12L6.07,13.41L11.66,19L23.66,7M18,7L16.59,5.58L10.24,11.93L11.66,13.34L18,7Z"
		);
	}

	&.expand path {
		d: path("M4 20h16v2H4zM4 2h16v2H4zm9 7h3l-4-4l-4 4h3v6H8l4 4l4-4h-3z");
	}

	&.grammar path {
		d: path(
			"M12 24H.032V12a12 12 0 0 1 3.504-8.486A11.92 11.92 0 0 1 12 0c3.305 0 6.297 1.344 8.463 3.514c2.164 2.172 3.505 5.172 3.505 8.486s-1.338 6.314-3.505 8.486A11.92 11.92 0 0 1 12 24m2.889-13.137l-1.271 2.205h4.418c-.505 2.882-3.018 5.078-6.036 5.078c-3.38 0-6.132-2.757-6.132-6.146S8.618 5.854 12 5.854c1.821 0 3.458.801 4.584 2.069l1.143-1.988a8.3 8.3 0 0 0-5.725-2.29c-4.6 0-8.332 3.74-8.332 8.355s3.73 8.354 8.332 8.354s8.332-3.739 8.332-8.354c0-.387-.029-.765-.079-1.137z"
		);
	}

	&.simplify path {
		d: path(
			"M18.25 17C18.25 17.88 18.07 18.74 17.71 19.53H16.31C17.71 17.15 16.91 14.09 14.53 12.69C13.76 12.24 12.89 12 12 12C9.24 12 7 9.76 7 7C7 4.24 9.24 2 12 2C14.76 2 17 4.24 17 7H15.75C15.75 4.93 14.07 3.25 12 3.25C9.93 3.25 8.25 4.93 8.25 7C8.25 9.07 9.93 10.75 12 10.75C15.45 10.75 18.25 13.56 18.25 17M6.29 19.53C5.93 18.74 5.75 17.87 5.75 17H7C7 17.93 7.25 18.79 7.69 19.53H6.29M18.25 20.75V22H5.75V20.75H9.5V15.75H8.25V14.5H15.75V15.75H14.5V20.75H18.25M13.25 15.75H10.75V20.75H13.25V15.75M14.44 7.07C14.4 8.4 13.33 9.47 12 9.5C10.62 9.46 9.53 8.32 9.57 6.94C9.6 5.61 10.67 4.53 12 4.5C13.38 4.54 14.47 5.68 14.44 7.07M13.25 7C13.25 6.31 12.69 5.75 12 5.75C11.31 5.75 10.75 6.31 10.75 7C10.75 7.69 11.31 8.25 12 8.25C12.69 8.25 13.25 7.69 13.25 7Z"
		);
	}

	&.translate path {
		d: path(
			"M12.87,15.07L10.33,12.56L10.36,12.53C12.1,10.59 13.34,8.36 14.07,6H17V4H10V2H8V4H1V6H12.17C11.5,7.92 10.44,9.75 9,11.35C8.07,10.32 7.3,9.19 6.69,8H4.69C5.42,9.63 6.42,11.17 7.67,12.56L2.58,17.58L4,19L9,14L12.11,17.11L12.87,15.07M18.5,10H16.5L12,22H14L15.12,19H19.87L21,22H23L18.5,10M15.88,17L17.5,12.67L19.12,17H15.88Z"
		);
	}
}
